
body {
  background-color: #5d6161;
  color: white;
  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #1f2525;
    position: fixed;
    height: 50%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
  }
   
  li a.active {
    background-color: #5d6161;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #5d6161;
    color: white;
  }
  
  div.wrapper_2col {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 1000px) {
      body {
          background-color: #1f2525;
      }
      ul {
      width: 100%;
      height: auto;
      position: relative;
       }
  
       li a {
      float: left;
      padding: 15px;
      }
      div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 600px) {
      body {
          background-color: rgb(204, 207, 207);
      }
       li a {
           text-align: center;
           float: none;
      }
    }